
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/TemplatePage.cshtml";
}

@using Students.Model
@model StudentsMVCApp.Models.ViewModels.DisplayViewModel

<article>
    <h1>Number of Students: @Model.Count</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Roll No</th>
                <th>Name</th>
                <th>Cgpa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Student student in Model.Students)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.RollNo</td>
                    <td>@student.Name</td>
                    <td>@student.Cgpa</td>
                </tr>
            }
        </tbody>
    </table>
</article>

